
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.c{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 15px;
    
}
.container {
    
  padding-top:  250px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
   
    
}
.container2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.container img {
   width: 600px;
   height: 230px;
   border: 2px solid red;
   border-radius: 13px;
   box-shadow: 4px 7px 7px 0px black;
   cursor: pointer;
   margin: 10px;
   transition: 400ms;
   
  
}

.container2 img {
    width: 600px;
    height: 230px;
    border: 2px solid red;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    
   
 }
