

:root {
    --blue: #06005a;
    --white: #f7f7f7;
    /* You can use this in anypart of css.*/
    --border-radius: 50px;
  }


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
 /* this will set the background color for the website.*/
body {
    background-color: #c5bfbf;
}
/* Class selector */
 /* header will display grey background with my name and links*/
header{
    justify-content: space-between;
    display: flex;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #555555;
    color: rgb(248, 255, 248);
}
 /* the main section of the page.*/
main{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 15px;
    
}

 /* this will set the h1 tag with pixle size and make it float left.*/
h1 {
    display: flex;
    font-size: 48px;
    float: left;
}

 /* this will allow you to click on work or resume and add background and hover feature.*/
nav {
    display: flex;
    padding-top: 15px;
}
nav a {
    color: var(--white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--blue);
    color: var(--white);
  }
  
  
nav  ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:rgb(233, 233, 233);
    text-decoration: none;
}

 /* this will put a background image before the about me page.*/
.picture {
    
     
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/images/background.jpg");
    background-size: cover;
    background-position: center;
  
   
}


 /* this will make the text centered on the page and ajust when sized.*/
.AboutMe{
  
   text-align: center;
    justify-content: center;
    flex-wrap: wrap;
   

}
 /* set the color of mywork to white.and center the h2 tag on the page*/
.mywork{
    padding-top:  20px;
    text-align: center;
     justify-content: center;
     flex-wrap: wrap;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 247, 247);

}
p {
   
    font-size: 20px;
}

 /* this will center,add padding to the first image/link.*/
.work {
    text-align: center;
  padding-top:  20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
   
    
}
 /* Added fonts,color and display to the h2 tag.*/
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 247, 247);
    display: inline-flex;
    font-size: 30px;
   float: 10px;
   
}

 /* this align the other 4 links/pictures to center and flex wrap them.*/
.work2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

 /* added hover to images to light up when on them.*/
.work img:hover { 
    color: #111; 
    background: rgb(15, 4, 175); 
    box-shadow: 0 0 100px rgb(15, 4, 175); 
} 


/* added hover to images to light up when on them.*/
.work2 img:hover { 
    color: #111; 
    background: rgb(15, 4, 175); 
    box-shadow: 0 0 100px rgb(15, 4, 175); 
} 

/* adjusted first image size,border and boxshadow.*/
.work img{

   width: 950px;
   height: 350px;
   border: 2px solid rgb(243, 233, 233);
   border-radius: 13px;
   box-shadow: 4px 7px 7px 0px black;
   cursor: pointer;
   margin: 10px;
   transition: 400ms;
   
  
}

/* this will adjusted other four images size,border and boxshadow.*/
.work2 img {
    width: 600px;
    height: 230px;
    border: 2px solid rgb(243, 233, 233);
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    
   
 }
 
 
 /* added padding to the right centered items and display flex.*/
.contact {
   
  padding-right:  100px;
   display: flex;
   justify-content: center;
   align-items:flex-end;
   flex-wrap: wrap;
}   


/* gave footer a font family, display flex and added padding.*/
footer {
    display: flex;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 247, 247);
}

footer h3 {
    font-size: 30px;
}


/* images will adjust size at 992px or smaller */
@media screen and (max-width: 992px) {
    .work2,
    .work {
      width: 100%;
      flex-wrap: wrap;
    }
    /* Change the header color */
   
  }
  
  /* images and page will adjust size at 768px or smaller */
  @media screen and (max-width: 768px) {
    .work2,
    .work {
      width: 100%;
   
    }
    /* will change the header color. */
    header {
      background: #8ac4ff;
    }

    .work img {
        width: 100%;
        height: 50%;
        
        
       
     }
     
     .work2 img {
         width: 100%;
         height: 50%;
       
        
      }

      p {
   
        font-size: 15px;
    }
  }
  
